<% content_for :meta_title, t('.title', name: @entity.title) %>
<% content_for :breadcrumbs do %>
  <%= admin_album_link(@entity) %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= @entity.title %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_album_path(id: @entity.id)) %></li>
    <li><%= back_icon(admin_albums_path) %></li>
  </ul>

  <section>
    <h2><%= t(:photo_count, count: @entity.photos_count) %></h2>

    <%=
      render(
          partial: 'shared/admin/list_with_priority',
          locals:  { collection: @collection }
      )
    %>
  </section>

  <section>
    <h2><%= t('photos.new.heading') %></h2>

    <%= render partial: 'photos/form', locals: { entity: @entity.photos.new } %>
  </section>
</article>
