<% content_for :meta_title, t('.title', title: @entity.title) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.albums.nav_item.text'), admin_albums_path) %>
  <span><%= @entity.title %></span>
<% end %>

<article>
  <h1><%= @entity.title %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_albums_path) %></li>
    <li><%= edit_icon(edit_album_path(@entity.id)) %></li>
  </ul>

  <dl>
    <% unless @entity.image.blank? %>
      <dt><%= t('activerecord.attributes.album.image') %></dt>
      <dd>
        <figure role="group">
          <%= link_to(album_image_small(@entity), @entity.image.url) %>
          <figcaption><%= @entity.image_alt_text %></figcaption>
        </figure>
      </dd>
    <% end %>

    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag(@entity.created_at) %></dd>

    <dt><%= t(:updated_at) %></dt>
    <dd><%= time_tag(@entity.updated_at) %></dd>

    <dt><%= t('activerecord.attributes.album.title') %></dt>
    <dd><%= @entity.title %></dd>

    <dt><%= t('activerecord.attributes.album.slug') %></dt>
    <dd><%= @entity.slug %></dd>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals:  {
            entity: @entity,
            url:    toggle_admin_album_path(@entity.id)
        }
    )
  %>
</article>
