<%= form_for entity do |f| %>
    <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

    <figure>
      <% unless entity.image.blank? %>
          <%= image_tag entity.image.medium.url, alt: t(:current_image) %>
      <% end %>

      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg' %>
    </figure>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name, required: true, size: 50 %>
    </div>

    <div>
      <%= f.label :slug %>
      <%= f.text_field :slug, required: true, size: 50 %>
    </div>

    <div>
      <%= f.label :priority %>
      <%= f.number_field :priority, in: (0..100), required: true %>
    </div>

    <div>
      <%= f.check_box :visible %>
      <%= f.label :visible %>
    </div>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
