<%= form_for entity do |f| %>
    <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

    <figure>
      <% unless entity.preview.blank? %>
          <%= image_tag entity.preview.medium.url, alt: t(:current_image) %>
      <% end %>

      <div><%= f.label :image %></div>
      <div><%= f.file_field :image, accept: 'image/jpeg' %></div>
    </figure>

    <div>
      <div><%= f.label :name %></div>
      <div><%= f.text_field :name, required: true, size: 50 %></div>
    </div>

    <div>
      <%= f.check_box :visible %><%= f.label :visible %>
    </div>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
