<% content_for :meta_title, t('.title', title: @entity.title!) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.photos.nav_item.text'), admin_photos_path) %>
  <span><%= @entity.title! %></span>
<% end %>

<article>
  <h1><%= @entity.title! %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_photos_path) %></li>
    <li><%= edit_icon(edit_photo_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <% unless @entity.album.nil? %>
      <div>
        <dt><%= t('attributes.album') %></dt>
        <dd><%= admin_album_link(@entity.album) %></dd>
      </div>

      <%= render partial: 'shared/entity/priority', locals: { entity: @entity } %>
    <% end %>

    <%= render partial: 'shared/entity/image', locals: { entity: @entity } %>

    <% unless @entity.title.blank? %>
      <div>
        <dt><%= t('activerecord.attributes.photo.title') %></dt>
        <dd><%= @entity.title %></dd>
      </div>
    <% end %>

    <%= render partial: 'components/photos/entity/description', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/uuid', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%=
    render(
        partial: 'admin/photos/entity/tags',
        locals: {
            entity: @entity
        }
    )
  %>
</article>
