<% content_for :meta_title, t('.title', title: @entity.title!) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.photos.nav_item.text'), admin_photos_path) %>
  <span><%= @entity.title! %></span>
<% end %>

<article>
  <h1><%= @entity.title! %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_photos_path) %></li>
    <li><%= edit_icon(edit_photo_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <% unless @entity.album.nil? %>
      <div>
        <dt><%= t('activerecord.attributes.photo.album') %></dt>
        <dd><%= admin_album_link(@entity.album) %></dd>
      </div>

      <div>
        <dt><%= t('activerecord.attributes.photo.priority') %></dt>
        <dd><%= @entity.priority %></dd>
      </div>
    <% end %>

    <div>
      <dt><%= t('activerecord.attributes.photo.image') %></dt>
      <dd>
        <figure role="group" class="preview">
          <%= simple_image_medium(@entity) %>
          <figcaption><%= @entity.image_alt_text %></figcaption>
        </figure>
      </dd>
    </div>

    <% unless @entity.title.blank? %>
      <div>
        <dt><%= t('activerecord.attributes.photo.title') %></dt>
        <dd><%= @entity.title %></dd>
      </div>
    <% end %>

    <%= render partial: 'shared/entity/meta_texts', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: @entity,
            url: toggle_admin_photo_path(id: @entity.id)
        }
    )
  %>
</article>
