<% content_for :meta_title, @entity.title %>

<article class="entity-page photo">
  <h1><%= @entity.title %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_photos_path) %></li>
    <li><%= edit_icon(edit_photo_path(@entity.id)) %></li>
  </ul>

  <figure>
    <%= link_to(image_tag(@entity.image.big.url), @entity.image.url) %>
    <figcaption><%= @entity.lead %></figcaption>
  </figure>

  <div class="description">
    <%= prepare_photo_description(@entity) %>
  </div>
  <div class="keywords">
    <%= @entity.keywords %>
  </div>
  <div class="flags">
    <% if @entity.hazard_motion? %>
        <div><%= t('activerecord.attributes.photo.hazard_motion') %></div>
    <% end %>
    <% if @entity.nudity? %>
        <div><%= t('activerecord.attributes.photo.nudity') %></div>
    <% end %>
  </div>
</article>