<article class="illustration">
  <h1><%= illustration.title %></h1>
  <% if current_user %>
      <nav class="actions">
        <ul>
          <li><%= link_to t(:list), illustrations_path %></li>
          <li><%= link_to t(:edit), edit_illustration_path(illustration) %></li>
          <li><%= link_to t(:create), new_illustration_path %></li>
        </ul>
      </nav>
  <% end %>
  <figure>
    <%= link_to image_tag(illustration.image.big.url, alt: illustration.title), illustration.image.big.url %>
  </figure>
  <div><%= link_to illustration.post.title, illustration.post %></div>
  <div class="description"><%= illustration.description %></div>
</article>