<% content_for :meta_title, t('.title', page: current_page) %>

<article class="illustrations">
  <h1><%= t('.header') %></h1>
  <nav class="actions">
    <ul>
      <li><%= link_to t(:create), new_illustration_path %></li>
    </ul>
  </nav>

  <%= paginate @collection %>

  <% if @collection.any? %>
      <% @collection.each do |entity| %>
        <%= render partial: 'illustrations/preview', locals: { illustration: entity } %>
      <% end %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>

  <%= paginate @collection %>
</article>