<% content_for :meta_title, t('.title', name: @entity.name, date: @entity.date) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.stories.nav_item.text'), admin_stories_path) %>
  <span><%= @entity.slug %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_stories_path) %></li>
    <li><%= world_icon(show_story_path(id: @entity.id, slug: @entity.slug)) %></li>
    <li><%= edit_icon(edit_story_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <%= render partial: 'shared/entity/image', locals: { entity: @entity } %>

    <div>
      <dt><%= t('activerecord.attributes.story.date') %></dt>
      <dd><%= time_tag @entity.date %></dd>
    </div>

    <div>
      <dt><%= t('activerecord.attributes.story.name') %></dt>
      <dd><%= @entity.name %></dd>
    </div>

    <div>
      <dt><%= t('attributes.slug') %></dt>
      <dd><%= @entity.slug %></dd>
    </div>

    <%= render partial: 'components/photos/entity/description', locals: { entity: @entity } %>
  </dl>

  <%=
    render(
        partial: 'admin/stories/entity/photos',
        locals: {
            entity: @entity,
            collection: @entity.photos.list_for_administration
        }
    )
  %>

  <%=
    render(
        partial: 'admin/stories/entity/new_photo',
        locals: {
            entity: @entity
        }
    )
  %>
</article>
