<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>
<%= render 'common/footer' %>

<article class="about">
  <figure>
    <%= image_tag 'maxim_2x.jpg', alt: t('.maxim'), width: 240, height: 360 %>
    <figcaption><%= t('.maxim') %></figcaption>
  </figure>
  <h1><%= t('.title') %></h1>
  <p><%= t('.name_and_dates') %></p>
  <p><%= t('.themes') %></p>
  <p><%= t('.landscape_and_macro') %></p>
  <p><%= t('.equipment') %></p>
  <p><%= t('.contacts') %>:</p>
  <ul>
    <li>E-mail: maxim.km@gmail.com</li>
    <li>Facebook: <%= link_to 'Maxim Khan-Magomedov', 'https://www.facebook.com/maxim.khanmagomedov' %></li>
    <li>Skype: dr_von_ozgg</li>
    <li>+7 910 420-64-42</li>
  </ul>
</article>
