<li><%= render 'admin/albums/nav_item' %></li>
<li><%= render 'admin/stories/nav_item' %></li>
<li><%= render 'admin/photos/nav_item' %></li>
<li><%= render 'admin/photo_tags/nav_item' %></li>
<li><%= render 'admin/featured_photos/nav_item' %></li>
