<article class="album">
  <h1><%= album.name %></h1>
  <figure>
    <%= image_tag album.image.url, alt: album.name %>
  </figure>
  <dl>
    <dt><%= t('activerecord.attributes.album.theme_id') %></dt>
    <dd><%= link_to album.theme.name, album.theme %></dd>
    <dt><%= t('activerecord.attributes.album.slug') %></dt>
    <dd><%= album.slug %></dd>
    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag album.created_at %></dd>
  </dl>
</article>
