<% model_name = entity.class.to_s.underscore %>
<%= form_with(model: entity, html: { id: "#{model_name}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <dt><%= f.label :priority %></dt>
    <dd>
      <%=
        f.number_field(
            :priority,
            id:   "#{model_name}_priority",
            size: nil,
            in:   Album::PRIORITY_RANGE
        )
      %>
    </dd>

    <dt><%= f.label :title %></dt>
    <dd>
      <%=
        f.text_field(
            :title,
            id:        "#{model_name}_title",
            size:      nil,
            maxlength: Album::TITLE_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.title') %></div>
    </dd>

    <dt><%= f.label :slug %></dt>
    <dd>
      <%=
        f.text_field(
            :slug,
            id:        "#{model_name}_slug",
            size:      nil,
            maxlength: Album::SLUG_LIMIT,
            required:  true
        )
      %>
      <div class="guideline"><%= t('.guidelines.slug') %></div>
    </dd>

    <dt><%= f.label :image %></dt>
    <dd>
      <figure class="preview" role="group" id="<%= model_name %>-image">
        <% if entity.image.attached? %>
          <%= f.label :image, image_tag(entity.image.variant(resize: Album::IMAGE_SMALL)) %>
        <% else %>
          <%= f.label :image, image_tag('biovision/base/placeholders/image.svg') %>
        <% end %>
        <figcaption>
          <%=
            f.file_field(
                :image,
                id:     "#{model_name}_image",
                accept: 'image/jpeg,image/png',
                data:   { image: "#{model_name}-image" }
            )
          %>
        </figcaption>
      </figure>
      <div class="guideline"><%= t('.guidelines.image') %></div>
    </dd>

    <dt><%= f.label :image_alt_text %></dt>
    <dd>
      <%=
        f.text_field(
            :image_alt_text,
            id:        "#{model_name}_image_alt_text",
            size:      nil,
            maxlength: Album::META_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.image_alt_text') %></div>
    </dd>

    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
