<%= form_for entity do |f| %>
    <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

    <figure>
      <% unless entity.image.blank? %>
          <%= image_tag entity.image.medium.url, alt: t(:current_image) %>
      <% end %>

      <figcaption>
        <%= f.label :image %>
        <%= f.file_field :image, accept: 'image/jpeg' %>
      </figcaption>
    </figure>

    <div>
      <%= f.label :theme_id %>
      <%= f.select :theme_id, themes_for_select %>
    </div>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name, required: true, size: 50 %>
    </div>

    <div>
      <%= f.label :slug %>
      <%= f.text_field :slug, required: true, size: 50 %>
    </div>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
