<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          id: "#{model_name}-form",
          data: { check_url: check_albums_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <div>
      <dt><%= f.label :date %></dt>
      <dd>
        <%=
          f.date_field(
              :date,
              id: "#{model_name}_date",
              size: 10
          )
        %>
        <div class="check-result-error" data-field="date"></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :name %></dt>
      <dd>
        <%=
          f.text_field(
              :name,
              data: {
                  check: :name,
                  transliterate: :slug
              },
              id: "#{model_name}_name",
              maxlength: Album::NAME_LIMIT,
              required: true,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="name"></div>
        <div class="guideline"><%= t('.guidelines.name') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :slug %></dt>
      <dd>
        <%=
          f.text_field(
              :slug,
              data: {
                  check: :slug
              },
              id: "#{model_name}_slug",
              maxlength: Album::SLUG_LIMIT,
              pattern: Album::SLUG_PATTERN_HTML,
              required: true,
              size: nil,
              title: t('.guidelines.slug'),
              )
        %>
        <div class="check-result-error" data-field="slug"></div>
        <div class="guideline"><%= t('.guidelines.slug') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :description %></dt>
      <dd>
        <%=
          f.text_field(
              :description,
              data: {
                  check: :description
              },
              id: "#{model_name}_description",
              maxlength: Album::DESCRIPTION_LIMIT,
              required: true,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="description"></div>
        <div class="guideline"><%= t('.guidelines.description') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :image %></dt>
      <dd>
        <figure class="preview" role="group" id="<%= model_name %>-image">
          <% if entity.image.blank? %>
            <%= f.label :image, image_tag('biovision/base/placeholders/3x2.svg', alt: '') %>
          <% else %>
            <%= f.label :image, image_tag(entity.image.medium_url, alt: '') %>
          <% end %>
          <figcaption>
            <%=
              f.file_field(
                  :image,
                  id: "#{model_name}_image",
                  accept: 'image/jpeg',
                  data: { image: "#{model_name}-image" }
              )
            %>
          </figcaption>
        </figure>
        <div class="guideline"><%= t('.guidelines.image') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :image_alt_text %></dt>
      <dd>
        <%=
          f.text_field(
              :image_alt_text,
              data: {
                  check: :image_alt_text
              },
              id: "#{model_name}_image_alt_text",
              maxlength: Album::META_LIMIT,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="image_alt_text"></div>
        <div class="guideline"><%= t('.guidelines.image_alt_text') %></div>
      </dd>
    </div>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
