<%= content_for :title, t('.title') %>

<section class="album">
  <h1><%= t('.title') %></h1>
  <nav>
    <ul>
      <li><%= link_to t(:list), albums_path %></li>
      <li><%= link_to t(:view), album_path(@album) %></li>
    </ul>
  </nav>

  <% if @album.image.url %>
  <figure>
    <%= image_tag @album.image.medium.url, alt: t('activerecord.attributes.album.image') %>
  </figure>
  <% end %>

  <%= render 'form' %>
</section>
