<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>
<% content_for :administrative_links do %>
    <ul>
      <li><%= link_to t(:create), new_album_path %></li>
    </ul>
<% end %>
<%= render 'common/footer' %>

<section class="albums">
  <h1><%= t('.title') %></h1>

  <% if @albums.any? %>
      <%= render @albums %>
  <% else %>
      <%= render 'common/nothing_found' %>
  <% end %>
</section>
