<% content_for :meta_title, @entity.name %>

<article class="album">
  <div class="content-wrapper">
    <header>
      <h1><%= @entity.name %></h1>

      <div class="description"><%= raw(@entity.description) %></div>
    </header>

    <% if component_handler.allow? %>
      <ul class="actions">
        <li><%= gear_icon(admin_story_path(id: @entity.id)) %></li>
        <li><%= edit_icon(edit_story_path(id: @entity.id)) %></li>
      </ul>
    <% end %>

    <section class="photos">
      <%= render partial: 'photos/list', locals: { collection: @entity.photos_for_visitors } %>
    </section>
  </div>

</article>
