<%= form_for entity do |f| %>
    <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

    <div>
      <%= f.label :body %>
      <%= f.text_field :body, required: true, size: 50 %>
    </div>

    <div>
      <%= t(:post, count: entity.post_count) %>
    </div>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
