<div class="image">
  <%= photo_image_thumbnail(entity) %>
</div>
<div class="data">
  <div>
    <%= admin_photo_link(entity) %>
  </div>
  <% unless entity.shot_date.nil? %>
      <div class="info">
        <%= time_tag(entity.shot_date) %>
      </div>
  <% end %>
  <div class="secondary info">
    <div><%= entity.lead %></div>
    <div><%= entity.keywords %></div>
  </div>
  <ul class="actions">
    <li><%= edit_icon(edit_photo_path(entity.id)) %></li>
  </ul>
</div>
