<header>
  <div class="site-name"><%= link_to('maxim.photo', root_path, accesskey: '0') %></div>
  <nav>
    <ul aria-label="<%= t('.main_mavigation') %>">
      <li><%= link_to(t('photos.index.heading'), photos_path, accesskey: '1') %></li>
      <li><%= link_to(t('index.about.heading'), about_path, accesskey: '2') %></li>
      <% unless current_user.nil? %>
          <% if UserPrivilege.user_has_any_privilege?(current_user) %>
              <li><%= link_to(t('admin.index.index.title'), admin_path) %></li>
          <% end %>
          <li><%= link_to(t(:logout), logout_path, method: :delete) %></li>
      <% end %>
    </ul>
  </nav>
</header>
