<% content_for :meta_title, @photo.name %>
<% content_for :meta_image, request.protocol + request.host_with_port + @photo.image.medium.url %>
<% content_for :meta_description, @photo.description unless @photo.description.blank? %>
<% content_for :meta_type, 'article' %>
<% content_for :meta_type_extension do %>
    <meta property="og:article:published_time" content="<%= @photo.created_at.strftime('%Y-%m-%d') %>"/>
    <meta property="og:article:modified_time" content="<%= @photo.updated_at.strftime('%Y-%m-%d') %>"/>
    <meta property="og:article:author" content="<%= t('layouts.footer.copyright') %>"/>
    <meta property="og:article:section" content="<%= @photo.album.long_name %>"/>
<% end %>

<article class="photo" itemscope itemtype="http://schema.org/ImageObject">
  <h1><%= link_to_album @photo.album %> / <span itemprop="name"><%= @photo.name %></span></h1>

  <figure>
    <%= link_to image_tag(@photo.image.big.url, alt: @photo.name, itemprop: 'contentUrl'), @photo.image.big.url %>
  </figure>
  <% unless @photo.description.blank? %>
      <div class="description" itemprop="description"><%= @photo.description %></div>
  <% end %>
</article>

<section>
  <h2><%= t('.other_images') %></h2>

  <%= render partial: 'portfolio/photos', locals: { photos: @album.photos_for_portfolio } %>
</section>
