<% content_for :meta_title, @photo.name %>
<% content_for :meta_image, request.protocol + request.host_with_port + @photo.image.medium.url %>

<article class="photo" itemscope itemtype="http://schema.org/Photograph">
  <h1 itemprop="name"><%= link_to_album @photo.album %> / <%= @photo.name %></h1>

  <figure>
    <%= image_tag @photo.image.big.url, alt: @photo.name, itemprop: 'contentUrl' %>
  </figure>
  <% unless @photo.description.blank? %>
      <div class="description" itemprop="description"><%= @photo.description %></div>
  <% end %>
</article>

<section>
  <h1><%= t('.other_images') %></h1>

  <%= render partial: 'portfolio/photos', locals: { photos: @album.photos_for_portfolio } %>
</section>
