<%= form_for entity do |f| %>
    <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

    <figure>
      <% unless entity.image.blank? %>
          <%= image_tag entity.image.medium.url, alt: t(:current_image) %>
      <% end %>

      <figcaption>
        <%= f.label :image %>
        <%= f.file_field :image, accept: 'image/jpeg' %>
      </figcaption>
    </figure>

    <figure>
      <% unless entity.preview.blank? %>
          <%= image_tag entity.preview.small.url, alt: t(:current_image) %>
      <% end %>

      <figcaption>
        <%= f.label :preview %>
        <%= f.file_field :preview, accept: 'image/jpeg' %>
      </figcaption>
    </figure>

    <div>
      <%= f.label :album_id %>
      <%= f.select :album_id, album_for_select %>
    </div>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>

    <div>
      <%= f.label :description %><br />
      <%= f.text_area :description, cols: 80, rows: 10 %>
    </div>

    <div>
      <%= f.check_box :visible %>
      <%= f.label :visible %>
    </div>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
