<%= form_for @photo do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @photo } %>

    <fieldset>
      <div>
        <%= f.label :image %>
        <%= f.file_field :image, required: !@photo.persisted? %>
      </div>
      <div>
        <%= f.label :album_id %>
        <%= f.select :album_id, Album.list_for_photo_form %>
      </div>
      <div>
        <%= f.label :name_ru %>
        <%= f.text_field :name_ru, required: true %>
      </div>
      <div>
        <%= f.label :name_en %>
        <%= f.text_field :name_en, required: true %>
      </div>
      <div>
        <%= f.label :name_es %>
        <%= f.text_field :name_es, required: true %>
      </div>
      <div>
        <%= f.label :description_ru %><br/>
        <%= f.text_area :description_ru, cols: 80, rows: 10 %>
      </div>
      <div>
        <%= f.label :description_en %><br/>
        <%= f.text_area :description_en, cols: 80, rows: 10 %>
      </div>
      <div>
        <%= f.label :description_es %><br/>
        <%= f.text_area :description_es, cols: 80, rows: 10 %>
      </div>
    </fieldset>
    <fieldset>
      <legend><%= t('activerecord.attributes.photo.category') %></legend>
      <% Category.all.each do |category| %>
          <%= check_box_tag "photo[category_ids][#{category.id}]", category.id, @photo.has_category?(category) %>
          <%= label_tag "photo_category_ids_#{category.id}", category.name(locale) %><br/>
      <% end %>
    </fieldset>
    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>