<% model_name = entity.class.to_s.underscore %>
<%= form_with(model: entity, html: { id: "#{model_name}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <% unless entity.id.nil? %>
      <dt><%= t('activerecord.attributes.photo.album_id') %></dt>
      <dd><%= admin_album_link(entity.album) %></dd>
    <% end %>

    <dt><%= f.label :priority %></dt>
    <dd>
      <%=
        f.number_field(
            :priority,
            id:   "#{model_name}_priority",
            size: nil,
            in:   Photo::PRIORITY_RANGE
        )
      %>
    </dd>

    <dt><%= f.label :title %></dt>
    <dd>
      <%=
        f.text_field(
            :title,
            id:        "#{model_name}_title",
            size:      nil,
            maxlength: Photo::TITLE_LIMIT,
            required: true
        )
      %>
      <div class="guideline"><%= t('.guidelines.title') %></div>
    </dd>

    <dt><%= f.label :image %></dt>
    <dd>
      <figure class="preview" role="group" id="<%= model_name %>-image">
        <% if entity.image.blank? %>
          <%= f.label :image, image_tag('biovision/base/placeholders/3x2.svg') %>
        <% else %>
          <%= f.label :image, image_tag(entity.image.small.url) %>
        <% end %>
        <figcaption>
          <%=
            f.file_field(
                :image,
                id:     "#{model_name}_image",
                accept: 'image/jpeg',
                data:   { image: "#{model_name}-image" }
            )
          %>
        </figcaption>
      </figure>
      <div class="guideline"><%= t('.guidelines.image') %></div>
    </dd>

    <dt><%= f.label :image_alt_text %></dt>
    <dd>
      <%=
        f.text_field(
            :image_alt_text,
            id:        "#{model_name}_image_alt_text",
            size:      nil,
            maxlength: Photo::META_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.image_alt_text') %></div>
    </dd>

    <dt><%= f.label :meta_title %></dt>
    <dd>
      <%=
        f.text_field(
            :meta_title,
            id:        "#{model_name}_meta_title",
            size:      nil,
            maxlength: Photo::META_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.meta_title') %></div>
    </dd>

    <dt><%= f.label :meta_description %></dt>
    <dd>
      <%=
        f.text_field(
            :meta_description,
            id:        "#{model_name}_meta_description",
            size:      nil,
            maxlength: Photo::META_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.meta_description') %></div>
    </dd>

    <dt><%= f.label :meta_keywords %></dt>
    <dd>
      <%=
        f.text_field(
            :meta_keywords,
            id:        "#{model_name}_meta_keywords",
            size:      nil,
            maxlength: Photo::META_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.meta_keywords') %></div>
    </dd>

    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= f.hidden_field :album_id if entity.id.nil? %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
