<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <div class="fields">
      <div>
        <figure id="photo-image">
          <% if entity.image.blank? %>
            <%= label_tag('photo_image', image_tag('biovision/base/placeholders/photo.svg')) %>
          <% else %>
            <%= label_tag('photo_image', image_tag(entity.image.medium.url)) %>
          <% end %>
          <figcaption>
            <%= f.label :image %>
            <%= f.file_field :image, accept: 'image/jpeg', data: { image: 'photo-image' } %>
          </figcaption>
        </figure>
        <div class="guideline"><%= t('.guidelines.image') %></div>
      </div>
      <div>
        <div>
          <%= f.label :title %><br />
          <%= f.text_field :title, size: nil, maxlength: Photo::TITLE_LIMIT, required: true %>
        </div>
        <div class="guideline"><%= t('.guidelines.title') %></div>
      </div>
      <div>
        <div>
          <%= f.label :shot_date %><br />
          <%= f.date_field :shot_date, size: 10, maxlength: 10, placeholder: t('.placeholders.shot_date') %>
        </div>
        <div class="guideline"><%= t('.guidelines.shot_date') %></div>
      </div>
      <div>
        <div>
          <%= f.label :keywords %><br />
          <%= f.text_field :keywords, size: nil, maxlength: Photo::KEYWORDS_LIMIT, placeholder: t('.placeholders.keywords') %>
        </div>
        <div class="guideline"><%= t('.guidelines.keywords') %></div>
      </div>
      <div>
        <div>
          <%= f.label :lead %><br />
          <%= f.text_field :lead, size: nil, maxlength: Photo::LEAD_LIMIT, placeholder: t('.placeholders.lead') %>
        </div>
        <div class="guideline"><%= t('.guidelines.lead') %></div>
      </div>
      <div>
        <div>
          <%= f.label :description %><br />
          <%= f.text_area :description, rows: 10 %>
        </div>
        <div class="guideline"><%= t('.guidelines.keywords') %></div>
      </div>
      <div>
        <ul class="flags">
          <li><%= f.check_box :hazard_motion %><%= f.label :hazard_motion %></li>
          <li><%= f.check_box :nudity %><%= f.label :nudity %></li>
        </ul>
      </div>
    </div>

    <div class="buttons">
      <%= f.button t(:save), type: :submit %>
    </div>
<% end %>
