<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          id: "#{model_name}-form",
          data: { check_url: check_photos_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <% unless entity.album.nil? %>
      <div>
        <dt><%= t('attributes.album') %></dt>
        <dd><%= admin_album_link(entity.album) %></dd>
      </div>
    <% end %>

    <div>
      <dt><%= f.label :image %></dt>
      <dd>
        <figure class="preview" role="group" id="<%= model_name %>-image">
          <% if entity.image.blank? %>
            <%= f.label :image, image_tag('biovision/base/placeholders/3x2.svg', alt: '') %>
          <% else %>
            <%= f.label :image, image_tag(entity.image.medium_url, alt: '') %>
          <% end %>
          <figcaption>
            <%=
              f.file_field(
                  :image,
                  id: "#{model_name}_image",
                  accept: 'image/jpeg',
                  data: { image: "#{model_name}-image" }
              )
            %>
          </figcaption>
        </figure>
        <div class="guideline"><%= t('.guidelines.image') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :image_alt_text %></dt>
      <dd>
        <%=
          f.text_field(
              :image_alt_text,
              data: {
                  check: :image_alt_text
              },
              id: "#{model_name}_image_alt_text",
              maxlength: Photo::META_LIMIT,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="image_alt_text"></div>
        <div class="guideline"><%= t('.guidelines.image_alt_text') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :title %></dt>
      <dd>
        <%=
          f.text_field(
              :title,
              data: {
                  check: :title
              },
              id: "#{model_name}_title",
              maxlength: Photo::TITLE_LIMIT,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="title"></div>
        <div class="guideline"><%= t('.guidelines.title') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :description %></dt>
      <dd>
        <%=
          f.text_area(
              :description,
              data: {
                  check: :description
              },
              id: "#{model_name}_description",
              maxlength: Photo::DESCRIPTION_LIMIT,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="description"></div>
        <div class="guideline"><%= t('.guidelines.description') %></div>
      </dd>
    </div>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.hidden_field :album_id if entity.id.nil? %>
    <%= f.button t(:save), class: 'button-save' %>
  </div>
<% end %>
