<% if collection.any? %>
  <% total_photos = collection.count %>
  <input type="radio" name="photo" id="photo_none" class="visually-hidden" checked/>
  <div class="photos-list" id="photo-gallery">
    <% collection.each_with_index do |entity, index| %>
      <% element_id = "photo_#{index}" %>
      <%=
        radio_button_tag(
            'photo',
            entity.id,
            false,
            id:    element_id,
            class: 'visually-hidden'
        )
      %>
      <div>
        <%= label_tag(element_id, photo_image_small(entity), class: 'proportional-container r-1x1 preview') %>
        <% if index > 0 %>
          <%= label_tag("photo_#{index - 1}", '&larr;'.html_safe, class: 'prev', tabindex: -1) %>
        <% end %>
        <% if index < total_photos - 1 %>
          <%= label_tag("photo_#{index + 1}", '&rarr;'.html_safe, class: 'next', tabindex: -1) %>
        <% end %>
        <figure role="group">
          <div>
            <%= photo_image_medium(entity) %>
          </div>
          <figcaption><%= entity.title %></figcaption>
        </figure>
      </div>
    <% end %>
  </div>
<% end %>
