<article class="photo">
  <h1><%= photo.name %></h1>
  <% if current_user %>
      <nav class="actions">
        <ul>
          <li><%= link_to t(:list), photos_path %></li>
          <li><%= link_to t(:edit), edit_photo_path(photo) %></li>
          <li><%= link_to t(:create), new_photo_path %></li>
        </ul>
        <%= render partial: 'photos/snippet', locals: { photo: photo } %>
      </nav>
  <% end %>
  <figure>
    <%= link_to image_tag(photo.image.big.url, alt: photo.name), photo.image.big.url %>
  </figure>
  <div class="description"><%= photo.description %></div>
</article>