<% content_for :meta_title, t('.title') %>

<article class="photo">
  <h1><%= t('.title') %></h1>
  <nav class="actions">
    <ul>
      <li><%= link_to t(:list), photos_path %></li>
      <li><%= link_to t(:view), @entity %></li>
      <li><%= link_to t(:create), new_photo_path %></li>
      <li><%= link_to t(:delete), @entity, method: :delete, data: { confirm: t(:are_you_sure) } %></li>
    </ul>
  </nav>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>