<% content_for :title, t('.title') %>
<% content_for :administrative_links do %>
    <ul>
      <li><%= link_to t(:list), photos_path %></li>
      <li><%= link_to t(:view), @photo %></li>
    </ul>
<% end %>

<section class="photo-form">
  <h1><%= t('.title') %></h1>

  <figure>
    <%= image_tag @photo.image.small.url %>
  </figure>

  <%= render 'form' %>
</section>