<% content_for :title, t('.title', page: selected_page) %>

<section class="list-of-photos">
  <h1><%= t('.header') %></h1>

  <h2><%= page_number %></h2>
  <nav>
    <ul>
      <li><%= link_to t(:create), new_photo_path %></li>
    </ul>
  </nav>

  <% if @photos.any? %>
      <%= paginate @photos %>
      <% @photos.each do |photo| %>
          <figure>
            <%= image_tag photo.image.small.url, alt: photo.name(locale) %>
            <figcaption><%= link_to photo.name(locale), photo %></figcaption>
          </figure>
      <% end %>
      <%= paginate @photos %>
  <% else %>
      <%= render 'common/nothing_found' %>
  <% end %>
</section>