<% content_for :meta_title, t('.title', page: current_page) %>

<article class="photos">
  <h1><%= t('.header') %></h1>
  <% if current_user %>
      <nav class="actions">
        <ul>
          <li><%= link_to t(:create), new_photo_path %></li>
        </ul>
      </nav>
  <% end %>

  <% if @collection.any? %>
      <% @collection.each do |entity| %>
        <%= render partial: 'photos/preview', locals: { photo: entity } %>
      <% end %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>

  <%= paginate @collection %>
</article>