<% content_for :meta_title, @entity.title %>
<% content_for :meta_image, request.protocol + request.host_with_port + @entity.image.medium.url %>
<% content_for :meta_description, @entity.description unless @entity.description.blank? %>
<% content_for :meta_type, 'article' %>
<% content_for :meta_type_extension do %>
    <meta property="og:article:published_time" content="<%= @entity.created_at.strftime('%Y-%m-%d') %>"/>
    <meta property="og:article:modified_time" content="<%= @entity.updated_at.strftime('%Y-%m-%d') %>"/>
<% end %>
<% content_for :meta_twitter do %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="<%= @entity.lead %>" />
<% end %>

<article class="photo">
  <h1><%= @entity.title %></h1>
  <% if current_user.is_a?(User) %>
      <ul class="actions">
        <li><%= edit_icon(edit_photo_path(@entity.id)) %></li>
      </ul>
  <% end %>

  <figure>
    <%= photo_image_full(@entity) %>
    <figcaption><%= @entity.lead %></figcaption>
  </figure>

  <% if current_user_has_privilege?(:administrator) %>
      <div class="snippet">
        &lt;a
        href=&quot;<%= request.protocol + request.host_with_port + url_for(@entity) %>&quot;
        target=&quot;_blank&quot;&gt;&lt;img
        src=&quot;<%= request.protocol + request.host_with_port + @entity.image.medium.url %>&quot;
        srcset=&quot;<%= request.protocol + request.host_with_port + @entity.image.big.url %> 2x&quot;
        alt=&quot;<%= @entity.title %>&quot; /&gt;&lt;/a&gt;
      </div>
  <% end %>

  <%= render partial: 'adjacent', locals: { adjacent: @adjacent } %>
</article>