<% content_for :title, @photo.name(locale) %>
<% content_for :description, @photo.description(locale) %>
<% content_for :administrative_links do %>
    <ul>
      <li><%= link_to t(:list), photos_path %></li>
      <li><%= link_to t(:edit), edit_photo_path(@photo) %></li>
    </ul>
<% end %>
<%= render 'common/footer' %>

<article class="photo">
  <h1><%= @photo.name(locale) %></h1>

  <figure>
    <%= link_to image_tag(@photo.image.medium.url), @photo.image.large.url %>
  </figure>
  <div><%= simple_format @photo.description(locale) %></div>
  <% if @photo.categories.any? %>
      <ul class="categories" aria-label="<%= t('activerecord.attributes.photo.category') %>">
        <% @photo.categories.each do |category| %>
            <li><%= category_by_slug(category, rel: 'tag') %></li>
        <% end %>
      </ul>
  <% end %>
</article>