<%= form_for entity do |f| %>
    <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

    <fieldset>
      <legend><%= t('.post') %></legend>

      <figure>
        <% unless entity.image.blank? %>
            <%= image_tag entity.image.medium.url, alt: t(:current_image) %>
        <% end %>

        <figcaption>
          <%= f.label :image %>
          <%= f.file_field :image, accept: 'image/jpeg' %>
        </figcaption>
      </figure>

      <div>
        <%= f.label :title %>
        <%= f.text_field :title, required: true, size: 50 %>
      </div>

      <div>
        <%= f.label :lead %>
        <%= f.text_field :lead, size: 50 %>
      </div>

      <div>
        <%= f.label :body %><br/>
        <%= f.text_area :body, cols: 80, rows: 10 %>
      </div>

      <div>
        <%= label_tag :tags_string, t('.tags') %><br/>
        <%= text_area_tag :tags_string, entity.tags_string, cols: 80, rows: 3 %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.illustrations') %></legend>

      <ol>
        <% entity.illustrations.ordered_by_priority.each do |illustration| %>
            <li>
              <%= image_tag illustration.image.small_square.url unless illustration.image.blank? %>
              <%= link_to illustration.title, illustration %>
            </li>
        <% end %>
        <li>
          <div>
            <%= label_tag 'illustrations[0][image]', t('activerecord.attributes.illustration.image') %>
            <%= file_field_tag 'illustrations[0][image]', accept: 'image/jpeg' %>
          </div>
          <div>
            <%= label_tag 'illustrations[0][title]', t('activerecord.attributes.illustration.title') %>
            <%= text_field_tag 'illustrations[0][title]' %>
          </div>
          <div>
            <%= label_tag 'illustrations[0][description]', t('activerecord.attributes.illustration.description') %>
            <%= text_area_tag 'illustrations[0][description]', '', cols: 50, rows: 5 %>
          </div>
        </li>
      </ol>
      <button type="button" id="add-illustration"><%= t('.add_illustration') %></button>
    </fieldset>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>

<script type="text/javascript">/*<![CDATA[*/
$(document).ready(function () {
  $('#add-illustration').on('click', function() {
    var $container = $(this).parent().find('ol');
    var $last_item = $container.find('li:last-of-type');
    var last_index = $last_item.find('textarea').attr('id').replace(/\D+(\d+)\D+/, '$1');
    var next_index = parseInt(last_index) + 1;
    var pattern    = new RegExp('([_\\[])' + last_index + '([_\\]])', 'g');

    $container.append('<li>' + $last_item.html().replace(pattern, '$1' + next_index + '$2') + '</li>');
  });
});
/*]]>*/</script>