<% content_for :meta_title, t('.title', page: current_page) %>

<article class="posts">
  <h1><%= t('.header') %></h1>
  <% if current_user %>
      <nav class="actions">
        <ul>
          <li><%= link_to t(:create), new_post_path %></li>
        </ul>
      </nav>
  <% end %>

  <%= paginate @collection, window: 2 %>
  <%= render partial: 'posts/list', locals: { posts: @collection } %>
  <%= paginate @collection, window: 2 %>
</article>
