<div class="image">
  <%= simple_image_preview(entity) %>
</div>
<div class="data">
  <div><%= admin_photo_link(entity.photo) %></div>
  <div class="info">
    <%= entity.photo.image_alt_text %>
  </div>
  <% unless entity.photo.album.nil? %>
    <div class="secondary info">
      <%= admin_album_link(entity.photo.album) %>
    </div>
  <% end %>

  <ul class="actions">
    <%=
      render(
          partial: 'shared/actions/priority_changer',
          locals:  {
              path: priority_admin_featured_photo_path(id: entity.id)
          }
      )
    %>
  </ul>
</div>
