<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>
<%= render 'common/footer' %>

<section class="categories">
  <h1><%= t('.title') %></h1>
  <% if current_user %>
      <nav>
        <ul>
          <li><%= link_to t(:create), new_category_path %></li>
        </ul>
      </nav>
  <% end %>
  <% if @categories.any? %>
      <% @categories.each do |category| %>
      <div class="category">
        <figure>
          <% if category.image %>
          <%= image_tag category.image.medium.url, alt: category.name(locale) %>
          <% end %>
          <figcaption><%= category.name locale %></figcaption>
        </figure>
        <div><%= simple_format category.description(locale) %></div>
      </div>
      <% end %>
  <% else %>
      <%= render 'common/nothing_found' %>
  <% end %>
</section>