<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>
<%= render 'common/footer' %>

<section class="categories">
  <h1><%= t('.title') %></h1>
  <% content_for :administrative_links do %>
      <ul>
        <li><%= link_to t(:create), new_category_path %></li>
      </ul>
  <% end %>
  <% if @categories.any? %>
      <%= render @categories %>
  <% else %>
      <%= render 'common/nothing_found' %>
  <% end %>
</section>
