<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <title><%= yield :title %> :: maxim.photo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8" />
  <% if content_for? :description %>
  <meta name="description" content="<%= yield :description %>" />
  <% end %>
</head>
<body>
<header style="background-image: url('<%= content_for?(:header_image) ? yield(:header_image) : image_path('header_background.jpg') %>')">
  <div class="logo">/mj</div>
  <%= render 'common/languages' %>
  <%= render 'common/main_navigation' %>
</header>

<div id="main">
  <% unless flash[:notice].nil? %>
      <div id="notice"><%= flash[:notice] %></div>
  <% end %>

  <%= yield %>
</div>

<footer>
  <div class="copyright">&copy; 2008–2015 Maxim Khan-Magomedov</div>
  <%= yield :footer %>
</footer>
</body>
</html>
